{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static '/css/building.css'%}"> 
  <link rel="stylesheet" href="{% static '/css/menu&csv.css'%}">
  <title>SKKU MAP</title>
</head>
<body>
  <!-- 상단 메뉴바-->
  <menu class="menu-bar">
    <div>
      <a href="javascript:history.back();"> 
      <img src="{% static '/img/left_arrow.svg'%}" alt="left_arrow.svg" id="left-arrow">
      </a>
      <span class="page-name"></span>
    </div> 
    <img src="{% static '/img/bell.svg'%}" alt="bell.svg" id="bell">
  </menu>

  <!-- 건물 사진 -->
  <section class ="building_images">
    <!-- JS로 추가 -->
  </section>

  <!-- 건물 설명 -->
  <section class="building_detail">
    <div class="building_title">
      <span class="building_number"></span>
      <span class="building_name"></span>
    </div>

    <div class="float_box">
      <div class="left_box">
        <!-- 건물 편의시설 -->
        <div class="conv_facilities">
          <div class="facility_icons"></div>
            <ul class="facility_details">
              <li class="facility_title">배리어프리 편의시설 안내</li>
            </ul>
        </div>
        <!-- 타임테이블 -->
        <div class="timetable">
          <div class="time_icon"> 
            <img src="{% static '/img/alarm.svg'%}" alt="alarm.svg" id="alarm">
          </div>
        </div>
      </div>
      <div class="right_box">
        <!-- 층별정보 -->
        <div class="floor_info"> 
          <li class="info_title"><img src="{% static '/img/info.svg'%}" alt="info.svg" id="info">층별정보</li>
        </div>
      </div>
    </div>
  </section>

  <section class="floor_click"></section>
  <!-- 하단 메뉴바  -->
  <nav class="nav-bar">
    <div class="nav-icon"> 
      <img src="{% static '/img/home.svg'%}" alt="home.svg" id="home">
      <p class="icon-name">홈</p>
    </div>
    <div class="nav-icon">
      <img src="{% static '/img/message.svg'%}" alt="message.svg" id="message">
      <p class="icon-name">메시지</p>
    </div>
    <div class="nav-icon">
      <img src="{% static '/img/favorite.svg'%}" alt="favorite.svg" id="favorites">
      <p class="icon-name">즐겨찾기</p>
    </div>
    <div class="nav-icon">
      <img src="{% static '/img/my.svg'%}" alt="my.svg" id="my">
      <p class="icon-name">내 정보</p>
    </div>
  </nav> 
  <script type="module" src="{% static '/js/buildingInfo.js'%}"></script>
</body>
</html>