{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static '/css/favorites.css'%}"> 
  <link rel="stylesheet" href="{% static '/css/menu&nav.css'%}">
  <title>SKKU MAP</title>
</head>
<body>
  <menu class="menu-bar">
    <div>
      <img src="{% static '/img/left_arrow.svg'%}" alt="left_arrow.svg" id="left-arrow"> 
      <span class="page-name">즐겨찾기</span>
    </div>
    <img src="{% static '/img/bell.svg'%}" alt="bell.svg" id="bell"> 
  </menu>
  <main class="favorites-container">
    <div class="select-sort">
      <span>최근 정렬순</span>
      <img src="{% static '/img/menu.svg'%}" alt="menu.svg" id="select-icon"> 
    </div>
    <ul class="favorites-list">
      <!-- js에서 렌더링하는 li 구조 -->
      <!-- <li class="favorite">
        <span class="favorite-building">국제관</span>
        <span class="likes">
          <span class="nlikes">1302 likes</span>
          <img src="../svg/empty_heart.svg" alt="heart.svg" class="heart">
        </span>
      </li> -->
    </ul>
  </main>
  <nav class="nav-bar">
    <div class="nav-icon">
      <img src="{% static '/img/home.svg'%}" alt="home.svg" id="home"> 
      <p class="icon-name">홈</p>
    </div>
    <div class="nav-icon">
      <img src="{% static '/img/message.svg'%}" alt="message.svg" id="message">
      <p class="icon-name">메시지</p>
    </div>
    <div class="nav-icon">
      <img src="{% static '/img/favorite.svg'%}" alt="favorite.svg" id="favorites"> 
      <p class="icon-name">즐겨찾기</p>
    </div>
    <div class="nav-icon">
      <img src="{% static '/img/my.svg'%}" alt="my.svg" id="my"> 
      <p class="icon-name">내 정보</p>
    </div>
  </nav>
  <script type="module"src="{% static '/js/favorites.js'%}"></script> 
</body>
</html>