{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <!-- <meta http-equiv="refresh" content="2;url=../main/main.html"> -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static '/css/loading.css'%}">
  <title>SKKU MAP</title>
</head>
<body>
  <div class="loading">
  <p class="row">여기가 어디지 여기가 어디지 여기가 어디지</p>
  <p class="row">여기가 어디냐 여기가 어디냐 여기가 어디냐</p>
  <p class="row">여기가 <strong class="green">어딜까</strong> 여기가 <strong class="green">어딜까</strong> 여기가 <strong class="green">어딜까</strong></p>
  <p class="row">여기가 저긴가 여기가 저긴가 여기가 저긴가</p>
  <p class="row"><strong class="green">저기가</strong> 여긴가 <strong class="green">저기가</strong> 여긴가 <strong class="green">저기가</strong> 여긴가</p>
  <p class="row">이쪽이 아니지 이쪽이 아니지 이쪽이 아니지</p>
  <p class="row">이쪽이 <strong class="green">아닌가</strong> 이쪽이 <strong class="green">아닌가</strong> 이쪽이 <strong class="green">아닌가</strong></p>
  <p class="row">아닌데 여긴데 아닌데 여긴데 아닌데 여긴데</p>
  <p class="row">아몰라 여긴가 아몰라 여긴가 아몰라 여긴가</p>
  <p class="row"> <strong class="green">아맞다</strong> 이럴때  <strong class="green">아맞다</strong> 이럴때  <strong class="green">아맞다</strong> 이럴때</p>
  <p class="row">찾았다 <strong class="yellow">스꾸맵</strong> 찾았다 <strong class="yellow">스꾸맵</strong> 찾았다 <strong class="yellow">스꾸맵</strong></p>
</div>
</body>
</html>