{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="{% static '/css/main.css'%}" rel="stylesheet" />
    <title>SKKU MAP</title>
  </head>
  <body>
    <section class="slider">
      <div class="banner-container">
        <!-- 예시구조 -->
        <div class="img">
          <div class="img-info">
            <h1>호암관</h1>
            <p>
              1969년 건립된 지상 12층 규모의 건물로 학부대학과 사범대학,
              교육대학원이 사용한다. 강의공간 및 학군단, 교수 연구실이 위치함.
            </p>
          </div>
          <img
            class="building-img"
            src="{% static '/img/myeong-ryun-dang.svg'%}"
            alt="명륜당.img"
          />
        </div>
        <!-- 위 구조대로 자바스크립트로 추가 -->
      </div>
    </section>
    <div class="info-circles"></div>
    <section class="container">
      <div class="input-cover">
        <input type="text" placeholder="건물명 검색" />
      </div>
      <div class="con-mid">
        <div class="map-contents">
          <img class="ginko" src="{% static '/img/ginko.svg'%}" alt="ginko" />
          <h2 class="map-contents-text">명륜</h2>
        </div>
        <div class="map-contents" id="natural-sci">
          <img class="robot" src="{% static '/img/robot.svg'%}" alt="robot" />
          <h2 class="map-contents-text">율전</h2>
        </div>
      </div>
      <div class="con-bot">
        <div class="community">
          <h5 class="community-text">꿀팁 및 정보 공유 커뮤니티</h5>
          <h2 class="community-title">스꾸 꿀단지 🍯</h2>
        </div>
        <div class="alert-setting">
          <img class="alarm" src="{% static '/img/alarm.svg'%}" alt="alarm" />
          <h5 class="alert-text">알림 설정</h5>
        </div>
      </div>
    </section>
    <script type="module" src="{% static '/js/slider.js'%}"></script> {
  </body>
</html>
