{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
  <!-- <meta http-equiv="refresh" content="2;url=../login/login.html"> -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="{% static '/css/onboarding.css'%}">
	<title>SKKU MAP</title>
</head>
<body>
	<div class="icon-wrapper">
		<img src="{% static '/img/main-icon.svg'%}" alt="main_icon">
		<p class="title" id="title-kr">스꾸맵</p>
		<p class="title" id="title-en">SKKU MAP</p>
	</div>
</body>
</html>