*{
  font-family: 'Noto Sans Thai';
  font-style: normal;
  text-align: center;
  letter-spacing: -0.408px;
  color: #000000;
}
.alert-setting{
  margin-top: 80px;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-color: #eee; */
}
.alarm{
  width: 51.33px;
  height: 44.33px;
}
.page-title{
  letter-spacing: -3px;
  margin-top: 22px;
  font-weight: 700;
  font-size: 30px;
  line-height: 22px;
}


/* from here  */
#hello{
  width: 100%;
  overflow-x: scroll;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

#hello::-webkit-scrollbar{
  display: none;
}

.days{
  /* position: absolute; */
  z-index: 5;
  width: 120%;
  margin-top: 20px;
  height: 120px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  transition:  all 1s;
}

.day-info{
  /* margin-left: 100px; */
  border-top: 17.46px solid #10675B;
  background-color: #fff;
  border-radius: 10.91px;
  width: 54.55px;
  width: 14%;
  height: 66.37px;
  /* height: 76.37px; */
  font-family: 'Mulish';
  font-style: normal;
  text-align: center;
  color: #000000;
  box-shadow: 0px 21.8201px 21.8201px rgba(0, 0, 0, 0.1);
  transition:  all 0.5s;
}

.day-info-day{
  font-weight: 700;
  font-size: 22px;
  line-height: 40px;
}
.day-info-date{
  font-weight: 400;
  font-size: 15px;
}
#center{
  z-index: 5;
  width: 76.37px;
  width: 19.5%;
  height: 82.48px;
  /* height: 100.92px; */
  border-top: 24.44px solid #FDE461;
  outline: 3px solid #000;
}
#center > .day-info-day{
  border-top: 3px solid #000000;
  font-weight: 700;
  font-size: 26px;
}
#center > .day-info-date{
  font-weight: 400;
  font-size: 20px;
}

/* transform test */

/* .day-info:hover{
  transition: transform 1s linear;
  transform: translate(-20px, 0px);
} */