*{
  margin:0;
  padding: 0;
  list-style: none;
}

:root[color-theme='light'] {
  --background: #fff;
  --deg: 0deg;
  --boxColor: #000;
}

:root[color-theme='dark'] {
  --background: #10675B;
  --boxColor: #fff;
  --deg: 90deg;
}

.toggle-cover{
  /* position: absolute;
  top:2vh;
  right:2vh; */
  width: 52.5px;
  height: 30.25px;
  border: 4px solid #10675B;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  transition: 1s all;
}

.toggle-btn{
  margin-left:5px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #10675B;
  transition: 1s all;
}

body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--background);
  transition: 1s all ease-in-out;
}
.map-container{
  width: 100%;
  overflow: scroll;
  /* display: flex; */
  /* flex-direction: column; */
  /* justify-content: center; */
  /* align-items: center; */
  /* height: 844px; */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.map-container::-webkit-scrollbar {
  display: none; 
}

.background{
  width: 100%;
}
.maps{
  width: 90%;
  position: relative;
  margin: 0 5%;
  /* transform:rotate(45deg) */
  transition: 1s all;
  min-width: 618px;
}

.building{
  position: absolute;
  z-index: 3;
  filter: hue-rotate(var(--deg));
  transition: 1s all;
}

.tag{
  position: absolute;
  z-index: 8;
}

.building:hover{
  z-index: 5;
  transform: scale(1.2);
  transition: 0.5s all;
}


.info{
  position: absolute;
  left: 25px;
  bottom: 100px;
  z-index: 10;
  width: 50%;
  max-width: 200px;

  /* display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center; */
  /* opacity: 0.7; */
}
.ride-tag{
  width: 30%;
}
.ride-pin{
  width: 10%;
}
