*{
  margin:0;
  padding: 0;
  list-style: none;
}

@media (min-width: 820px){
  .nav-bar{
    display: none;
    transition: 1s all;
  }
}

:root[color-theme='light'] {
  /* --background: rgb(94, 217, 255); */
  --background: #fff;
  --deg: 0deg;
  --boxColor: rgba(0,0,0,0.2);
}

:root[color-theme='dark'] {
  --background: #10675B;
  --boxColor: #FDE461;
  --deg: 90deg;
}

.menu-bar{
  align-items: center;
}
.toggle-cover{
  /* position: absolute;
  top:2vh;
  right:2vh; */
  width: 52.5px;
  height: 30.25px;
  border: 4px solid #10675B;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  transition: 1s all;
}

.toggle-btn{
  margin-left:5px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #10675B;
  transition: 1s all;
}

body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--background);
  transition: 1s all ease-in-out;
}
.map-container{
  position: relative;
  width: 100%;
  overflow: scroll;
  /* display: flex; */
  /* flex-direction: column; */
  /* justify-content: center; */
  /* align-items: center; */
  height: 100vh;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.map-container::-webkit-scrollbar {
  display: none; 
}

.background{
  width: 100%;
  z-index: 1;
}
.maps{
  width: 90%;
  position: relative;
  margin: 0 5%;
  /* transform:rotate(45deg) */
  transition: 1s all;
  min-width: 618px;
  top: 30%;
  /* overflow: hidden; */
}

.building{
  position: absolute;
  z-index: 3;
  filter: hue-rotate(var(--deg));
  transition: 1s all;
}

.tag{
  position: absolute;
  z-index: 8;
}

.building:hover{
  z-index: 5;
  transform: scale(1.2);
  transition: 0.5s all;
}



.cloud{
  position: absolute;
  z-index: -1;
  animation-name: cloudmove;
  animation-duration: 40s;
  animation-iteration-count: infinite;
}

/* @keyframes cloudmove {
  from {
    margin-left: -100%;
  }
  to {
    margin-left: 50%;
  }
} */

/* 왼쪽하단 버스승차 안내 */
.info{
  position: absolute;
  left: 25px;
  bottom: 100px;
  z-index: 10;
  width: 50%;
  max-width: 200px;
}
.ride-tag{
  width: 30%;
}
.ride-pin{
  width: 10%;
}



/* input range custom css */
input[type="range"]::-webkit-slider-thumb{
  background-color: var(--background);
  transition: 1s all;
}

input[type="range"] {
  -webkit-appearance: none;
  width: 100px;
  height: 7px;
  background: rgba(255, 255, 255, 0.6);
  background: var(--boxColor);
  border-radius: 5px;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: #10572B;
  box-shadow: 0 0 2px 0 #555;
}

input[type=range]::-webkit-slider-runnable-track  {
  -webkit-appearance: none;
  box-shadow: none;
  border: none;
}