@font-face {
  font-family: 'CWDangamAsac-Bold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/CWDangamAsac-Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@700&display=swap');

*{
  font-family: 'Noto Sans KR', sans-serif;
  margin: 0;
  padding: 0;
  list-style: none;
}

/* menu바 css */
.menu-bar{
  position: fixed;
  top: 0;
  z-index: 3;
  width: 94%;
  /* background-color: #eee; */
  padding: 30px 3%;
  display: flex;
  justify-content: space-between;
}
#left-arrow{
  width: 13.12px;
  height: 26.25px;
}
#bell{
  width: 22.67px;
  height: 31.17px;
}
.page-name{
  position: relative;
  top: -3px;
  margin-left: 14.75px;
  font-family: 'Noto Sans Thai';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 22px;
  letter-spacing: -0.408px;
  color: #000000;
}

/* 네비게이션 바 css */
.nav-bar{
  padding: 16.41px 0;
  position: fixed;
  /* position: -webkit-sticky; */
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  bottom: 0;
  z-index: 3;
  width: 100%;
  height: 50px;
  background-color: #01BEB1;
  display: flex;
  flex-direction: row;
  font-family: 'Noto Sans Thai';
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  /* line-height: 25px; */
  letter-spacing: 0.092px;
  color: #10675B;
  text-align: center;
}
.nav-icon{
  width: 45px;
}
.nav-icon > img{
  height: 30.96px;
}