.title{
  position: relative;
  height: 281px;
  background-color: #10675B;
}

.title-info{
  position: absolute;
  display: flex;
  width: 300px;
  top: 223px;
  left: 20px;
}

.profile_img{
  background-color: #0B3E39;
  width: 43px;
  height: 43px;
  border-radius: 50%;
  text-align: center;
}

#profile{
  margin-top: 11px;
}

h1{
  margin-top: 10px;
  margin-left: 10px;
  width: 80px;
  height: 22px;
  font-family: 'Noto Sans Thai';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 22px;
  letter-spacing: -0.408px;

  color: #FFFFFF;
}

.profile_items{
  width: 85%;
  max-width: 324px;
  margin-top: 35px;
  margin-left: auto;
  margin-right: auto;
}

.item_name{
  margin-top: 17px;
  font-family: 'Noto Sans Thai';
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  letter-spacing: -0.408px;
  color: #ABB0BC;
}

.item_content{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 9px;
  font-family: 'Noto Sans Thai';
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 22px;
  letter-spacing: -0.408px;
  border-bottom: 1px solid #10675B;
  color: #10675B;
}

#toggle_on,#toggle_ff{
  position: relative;
  top:1px;
  right: 130px;
}

.logout, .sharing{
  width: 85%;
  max-width: 324px;
  margin-top: 17px;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Noto Sans Thai';
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  letter-spacing: -0.408px;
  color: #ABB0BC;
}

.sharing_icons{
  margin-top: 15px;
  display: flex;
  width: 195px;
  justify-content: space-between;
}

#my{
  color: yellow;
}